<template>
  <div class="create-note">
    <el-form ref="form" :model="form">
      <el-form-item>
        <el-input
          v-model="form.title"
          placeholder="Enter title for your card"
          maxlength="20"
          show-word-limit
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-input
          height="400px"
          type="textarea"
          v-model="form.description"
          placeholder="Enter description for your card"
          maxlength="150"
          show-word-limit
        ></el-input>
      </el-form-item>
      <el-form-item>
        <div class="buttons">
          <el-button type="danger" plain @click="$router.push('/')"
            >Cancel</el-button
          >
          <el-button
            type="primary"
            plain
            @click="checkForm()"
            >Create</el-button
          >
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { DateTime } from 'luxon';

export default {
  data() {
    return {
      form: {
        title: "",
        description: "",
      },
    };
  },

  methods: {
    ...mapMutations("Notes", ["CREATE_NOTE"]),

    createNote() {
      const note = {
        id: Date.now(),
        note_date: DateTime.now().toLocaleString(DateTime.TIME_24_WITH_SECONDS),
        note_title: this.form.title,
        note_description: this.form.description,
      };

      console.log(note);

      if (note) {
        this.$message({
          message: "The note was successfully created",
          type: "success",
        });
      } else {
        this.$message.error({
          message: "Smth wrong with creating note",
        });
      }

      this.CREATE_NOTE(note);
      this.form.title = "";
      this.form.description = "";
      this.$router.push('/');
    },

    checkForm() {
      if(this.form.title == '' && this.form.description == '') { 
        this.$message.error('Input title and description for continue work');
      } else if(this.form.description == '') { 
        this.$message.error('Input description for continue work');
      } else if(this.form.title == '') { 
        this.$message.error('Input title for continue work');
      } else { 
        this.createNote();
      }
    }
  },
};
</script>

<style scoped>
.create-note {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
</style>
