<template>
  <div class="navbar">
    <el-container>
      <el-menu class="el-menu-demo" mode="horizontal">
        <div class="add-notes">
          <el-button
            icon="el-icon-plus"
            circle
            @click="$router.push({ name: 'CreateNote' })"
          ></el-button>
        </div>
        <div class="count">
          <div class="search">
            <el-input
              type="search"
              placeholder="Please input"
              v-model="searchNote"
            ></el-input>
          </div>

          <div class="count-notes">
            <el-badge :value="getCountNotes" class="item">
              <el-button size="small">Count of notes</el-button>
            </el-badge>
          </div>

          <div class="count-note-words">
            <el-badge :value="0" class="item">
              <el-button size="small">Count of words</el-button>
            </el-badge>
          </div>
        </div>
      </el-menu>
      <div class="line"></div>
    </el-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";
export default {
  data() {
    return { 
      search: ''
    }
  },

  computed: {
    ...mapGetters("Notes", ["getCountNotes"]),
    ...mapState("Notes", ["query"]),

    searchNote: {
      set(newValue) {
        this.SEARCH_NOTE(newValue);
      },

      get() {
        return this.query;
      },
    },
  },

  methods: {
    ...mapMutations("Notes", ["SEARCH_NOTE"]),
  },
};
</script>

<style scoped>
.el-menu-demo {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.add-notes {
  margin-left: 20px;
}
.count {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  margin-right: 20px;
}

.count-note-words {
  margin-left: 20px;
}
</style>