<template>
  <div class="sidebar">
    <el-container>
      <el-aside width="400px" style="background-color: rgb(238, 241, 246)">
        <el-card class="box-card" v-for="note in filterNotes" :key="note.id">
          <router-link
            :to="{ name: 'CardInformation', params: { id: note.id } }"
            style="text-decoration: none; color: inherit"
          >
            <div class="note-details">
              <div class="note-information">
                <div class="note-title">
                  <span class="title">{{ note.note_title }}</span>
                </div>
                <div class="note-description">
                  <span class="description">{{ note.note_description }}</span>
                </div>
              </div>
              <div class="note-date-created">
                <div class="note-dates">
                  <span>{{ note.note_date }}</span>
                </div>
              </div>
            </div>
          </router-link>
        </el-card>
      </el-aside>
    </el-container>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from "vuex";

export default {
  computed: {
    ...mapGetters("Notes", ["getAllNotes"]),
    ...mapState("Notes", ["query"]),

    filterNotes() {
      return this.getAllNotes.filter((note) => {
        return note.note_title.match(this.query);
      });
    },
  },

  methods: {
    ...mapMutations("Notes", ["SEARCH_NOTE"]),
  },
};
</script>

<style scoped>
.el-aside {
  min-height: 100vh;
}

.el-card:first-child {
  margin-top: 0px;
}

.el-card {
  cursor: pointer;
}

.el-card:hover {
  background: rgb(245, 244, 244);
}

.el-card:focus-within {
  background: rgb(82, 236, 152);
}

router-link a {
  text-decoration: none;
}

.note-details {
  display: flex;
  justify-content: space-between;
}
</style>