<template>
  <div class="card-information">
    <div v-if="notes" class="notes">
      <!-- <el-container> -->
      <el-card class="box-card">
        <!-- <div class="notes-details">
            <div class="note-information">
              <div class="note-title">
                <h1>{{ notes.note_title }}</h1>
              </div>
              <div class="note-description">
                <span class="note-description">{{
                  notes.note_description
                }}</span>
              </div>
            </div>
            <div class="note-date-info">
              <div class="note-date">
                <span>{{ notes.note_date }}</span>
              </div>
            </div>
          </div> -->
        <!-- <div class="note-buttons">
            <el-button type="danger" plain @click="removeNotes(notes.id)"
              >Delete</el-button
            >
            <el-button type="primary" plain @click="openModal()"
              >Update</el-button
            >
          </div> -->

        <div class="note-details">
          <div class="note-operation">
            <div class="note-title">
              <span>{{ notes.note_title }}</span>
            </div>
            <div class="note-icons">
              <div class="note-update">
                <span class="edit"><i class="el-icon-edit" @click="openModal()"></i></span>
              </div>
              <div class="note-delete">
                <span class="delete"><i class="el-icon-delete" @click="removeNotes(notes.id)"></i></span>
              </div>
            </div>
          </div>
          <div class="line"></div>
          <div class="note-information">
            <div class="note-description">
              <span>{{ notes.note_description }}</span>
            </div>
            <div class="note-date">
              <span>{{ notes.note_date }}</span>
            </div>
          </div>
        </div>
      </el-card>
      <!-- </el-container> -->
      <UpdateNote v-show="isShowModal" @close="closeModal" />
    </div>
    <p v-else v-loading="loading" style="width: 100%"></p>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import UpdateNote from "../UpdateNote/UpdateNote.vue";
export default {
  data() {
    return {
      isShowModal: false,
      loading: true,
    };
  },

  components: {
    UpdateNote,
  },

  computed: {
    ...mapGetters("Notes", ["getNotesById"]),
    notes() {
      return this.getNotesById(+this.$route.params.id);
    },
  },

  methods: {
    ...mapMutations("Notes", ["DELETE_NOTE"]),

    openModal() {
      this.isShowModal = true;
    },

    closeModal() {
      this.isShowModal = false;
    },

    removeNotes(note) {
      if (note) {
        this.$message({
          message: "The note was successfully removed",
          type: "success",
        });
        this.$router.push("/");
      } else {
        this.$message.error({
          message: "Ooops...smth wrong",
        });
      }
      this.DELETE_NOTE(note);
      this.closeModal();
    },
  },
};
</script>

<style scoped>
.notes {
  min-width: 1250px;
}

.edit { 
  margin-right: 10px;
}

.note-buttons {
  display: flex;
  justify-content: flex-end;
}

.note-icons {
  display: flex;
}

.note-operation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.note-information {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.note-title span { 
  font-size: 32px;
  font-weight: bold;
}

.el-icon-edit,
.el-icon-delete { 
  cursor: pointer;
  padding: 5px;
}

.el-icon-edit:hover { 
  background: #ccc;
  border-radius: 5px;
}

.el-icon-delete:hover { 
  background: #ccc;
  border-radius: 5px;
}

.line {
  height: 1px;
  background: #ccc;
  width: 100%;
}
</style>