<template>
  <div id="app">
    <div id="nav">
      <Navbar />
    </div>

    <el-container class="main">
      <div class="aside">
        <Sidebar />
      </div>
      <el-container>
        <el-main>
          <MainComponent  />
          
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import Navbar from "./components/Navbar/Navbar.vue";
import Sidebar from "./components/SideBar/Sidebar.vue";
import MainComponent from "./components/MainComponent/MainComponent.vue";
export default {
  components: {
    Navbar,
    Sidebar,
    MainComponent
  },
};
</script>


<style>
#app {
  min-height: 100vh;
}

.aside { 
  overflow-x: scroll;
}
</style>
