<template>
  <transition name="modal-fade">
    <el-card class="modal-backdrop card-box">
      <div
        class="modal"
        role="dialog"
        aria-labelledby="modalTitle"
        aria-describedby="modalDescription"
      >
        <header class="modal-header" id="modalTitle">
          <slot name="header">
            <span>Update Note</span>
          </slot>
          <button
            type="button"
            class="btn-close"
            @click="close"
            aria-label="Close modal"
          >
            x
          </button>
        </header>

        <section class="modal-body" id="modalDescription">
          <slot name="body">
            <el-form>
              <el-form-item>
                <el-input type="text" class="form-control" v-model="title" />
              </el-form-item>
              <el-form-item>
                <el-input
                  type="textarea"
                  class="form-control"
                  v-model="description"
                />
              </el-form-item>
              <el-form-item>
                <el-input type="text" v-model="date"></el-input>
              </el-form-item>
              <el-form-item>
                <div class="buttons">
                  <el-button @click="close()" type="danger" plain class="cancel"
                    >cancel</el-button
                  >
                  <el-button
                    type="success"
                    plain
                    class="save"
                    @click="updateNote()"
                    >save</el-button
                  >
                </div>
              </el-form-item>
            </el-form>
          </slot>
        </section>
      </div>
    </el-card>
  </transition>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  data() {
    return {
      title: "",
      description: "",
      date: ""
    };
  },

  computed: {
    ...mapGetters("Notes", ["getNotesById"]),

    notes() {
      return this.getNotesById(+this.$route.params.id);
    },
  },

  mounted() {
    (this.title = this.notes.note_title),
    (this.description = this.notes.note_description),
    (this.date = this.notes.note_date);
  },

  methods: {
    ...mapMutations("Notes", ["UPDATE_NOTE"]),

    close() {
      this.$emit("close");
    },

    updateNote() {
      let note = {
        id: this.notes.id,
        note_title: this.title,
        note_date: this.date,
        note_description: this.description,
      };

      this.UPDATE_NOTE(note);
      this.close();
    },
  },
};

</script>

<style scoped>
.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.modal {
  background: #ffffff;
  box-shadow: 2px 2px 20px 1px;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  width: 160%;
  height: 100%;
  top: 10%;
  left: 25%;
}

.modal-header,
.modal-footer {
  padding: 15px;
  display: flex;
}

.modal-header {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  color: #222;
  justify-content: space-between;
}

.modal-footer {
  border-top: 1px solid #eeeeee;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-body {
  position: relative;
  padding: 20px 10px;
}

.form-group {
  margin-top: 10px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none !important;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #4aae9b;
  background: transparent;
  outline: none !important;
}

.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.5s ease;
}

.form-group input {
  margin-top: 10px;
}

.form-group .textarea {
  margin-top: 10px !important;
}

button::-moz-focus-inner {
  outline: none !important;
}

.save {
  margin-left: 10px;
}

.buttons { 
  display: flex;
  justify-content: flex-end;
}
</style>